@import "tailwindcss";

@theme {
  --color-Blue-500: hsl(223, 87%, 63%);
  --color-Blue-200: hsl(223, 100%, 88%);
  --color-Red-400: hsl(354, 100%, 66%);
  --color-Gray-400: hsl(0, 0%, 59%);
  --color-Blue-950: hsl(209, 33%, 12%);
}
